{% extends 'base.html' %} {% block content %}
<style>
  body{
    background-image: url ("https://api.benefits.gov//sites/default/files/2020-08/bWa5yiO%20-%20Imgur.jpg");
    background-size: cover;
  }
</style>

<h1>Delete Agency</h1>

<h4>
  Are you sure you want to delete
  <span class="purple-text">{{ object.name }}</span>?
</h4>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Yes - Delete!" class="btn #f44336 red" />
  <a href="{% url 'detail' agencies.id %}">Cancel</a>
</form>
{% endblock %}
