{% extends 'base.html' %} {% block content %}

   <div class="container"></div>
        <h1 class="h1">About Senior Support Services</h1>
        <div>
            <p class="flow-text">
              Senior Support Services allows seniors and their loved ones to list, rate
              and track agencies that provide support services to older adults in their
              homes. If you find yourself overwhelmed with the multitude of agencies
              available for the older population, this application will help keep you
              organized and give you peace of mind.
            </p>
        </div>
    </div>
{% endblock %}