body {
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/45/40/soft-abstract-background-in-light-colors-vector-21474540.jpg");
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
  }
  h1 {
    color: #9e9e9e;
    font-weight: bold;
  }
  
  
  main {
    flex: 1 0 auto;
  }
  
  .h1 {
    font-family:'Montserrat', sans-ser;
    font-weight: 500;
  }
  
  #brand {
    font-family:'Montserrat', sans-ser;
    font-weight: 700;
  }

  footer {
    padding-top: 0;
    padding-right: 10px;
    text-align: right;
  }
  .footer-link {
    padding: 10px;
  }

  tbody {
    padding: 10px; }

  .services {
    margin:10px;
  }

  @media only screen and (max-width: 750px) {
    body {
      background-color: lightblue;
    }
    #brand {
      font-size: large;

    }
  }