body {
    background-color: #FAFDD6;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .h1 {
    font-family:'Montserrat', sans-ser;
    font-weight: 500;
  }

  footer {
    padding-top: 0;
    padding-right: 10px;
    text-align: right;
  }
  .footer-link {
    padding: 10px;
  }

  tbody {
    padding: 10px; }

  .services {
    margin:10px;
  }

  @media only screen and (max-width: 750px) {
    body {
      background-color: lightblue;
    }
    #brand {
      font-size: large;

    }
  }