{% extends 'base.html' %} {% block content %}

<h1>Agency Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ agency.name }}</span>
    <p>Address: {{ agency.address }}</p>
    <p>Phone: {{ agency.phone }}</p>
    <p>Rating: {{ agency.rating }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'agencies_update' agency.id %}">Edit</a>
    <a href="{% url 'agencies_delete' agency.id %}">Delete</a>
  </div>
  <div class="col s6">
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Services Provided</th>
        </tr>
      </thead>
      <tbody>
        {% for adds in agencies.adds_set.all %}
        <tr>
          <td>{{adds.date}}</td>
          <td>{{adds.get_service_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
