{% extends 'base.html' %} {% block content %}

<style>
  body {
    background-image: url("https://st2.depositphotos.com/1177973/6096/i/450/depositphotos_60962973-stock-photo-helping-hands-care-for-the.jpg");
    background-size: cover;
    }
  
</style>
<h1>Agencies List</h1>


{% for agency in agencies %}


<div class="card">
  <a href="{% url 'detail' agency.id %}">
  <div class="card-content">
    <span class="card-title">{{ agency.name }}</span>
    <p>Address: {{ agency.address }}</p>
    <p>Phone: {{ agency.phone }}</p>
    <p>Rating: {{ agency.rating }} </p>
  </div>
  </a>
</div>
{% endfor %} {% endblock %}