{% extends 'base.html' %} {% block content %}

<style>
  body {
    background-image: url("https://cdn1.vectorstock.com/i/1000x1000/45/40/soft-abstract-background-in-light-colors-vector-21474540.jpg");
    background-size: cover;
  }
  h1 {
    color: #9e9e9e;
    font-weight: bold;
  }
</style>
<h1 class="h1">Agencies List</h1>


{% for agency in agencies %}


<div class="card">
  <a href="{% url 'detail' agency.id %}">
  <div class="card-content">
    <span class="card-title">{{ agency.name }}</span>
    <p>Address: {{ agency.address }}</p>
    <p>Phone: {{ agency.phone }}</p>
    <p>Rating: {{ agency.rating }} </p>
  </div>
  </a>
</div>
{% endfor %} {% endblock %}